* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-image: url(../img/wall.png);
}

h1 {
  font-weight: 700;
  font-size: 64px;
  padding: 15px;
}

body {
  font-family: "Edu TAS Beginner";
  font-weight: 400;
  background-image: url(../img/cork.png);

}





/* Sezione Card */

.card {
  position: relative;
}

.pin {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -30%);
}

.photo {
  height: 300px;
  margin: 15px;
  background-color: aqua;
}