* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-image: url(../img/wall.png);
  position: relative;
  z-index: -1;
}

h1 {
  font-weight: 700;
  font-size: 7rem;
  padding: 15px;
}

body {
  font-family: "Edu TAS Beginner";
  font-weight: 400;
  background-image: url(../img/cork.png);


}

/* Sezione Card */

.card {
  position: relative;
  z-index: -1;
}

.col-12 {
  margin: 15px;
  padding: 0;
  width: calc(100% / 3 - 30px);
  position: relative;
}

.pin {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -30%);
}

.photo {
  padding: 15px;
}

/* Media Queries*/

@media all and (max-width: 768px) {
  h1 {
    font-size: 8rem;
  }

}

/* Overlay */

#overlay {
  position: relative;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

#preview img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#preview button {
  border-radius: 50%;
  position: absolute;
  bottom: 10%;
  left: 50%;

}


/* hover effect */
.col-12:hover {
  cursor: pointer;
  /* transform: scale(1.1); */
  transition: 0.5s;
  box-shadow: 5px 10px 10px 1px;
  transform: rotate(10deg) scale(1.1);
}